/*- Inconsolata -*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
/*- Inter -*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	outline: none;
	font-weight: 900;
	box-sizing: border-box;
	user-select: none !important;
}

body {
	overflow: auto;
}

#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#game-container {
	background: linear-gradient(45deg, #374961, #0c141f);
	padding: 20px;
	padding-bottom: 30px;
	border-radius: 5px;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: opacity 1s;
	opacity: 0;
	box-shadow: 0px 30px 50px -28px rgba(0, 0, 0, 0.726);
}

#text-rgb {
	font-size: 45px;
	font-weight: 900;
	text-align: center;
	font-family: "Inconsolata", sans-serif;
	text-transform: uppercase;
}

#options {
	width: 100%;
	height: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#options .option-group .option {
	padding: 50px;
	background: transparent;
	margin-left: 15px;
	border-radius: 5px;
	transition-duration: 0.1s;
	transition-property: background, transform;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(47, 71, 87, 0.4);
}

#options .option-group .option:hover {
	transform: scale(1.1);
}

#options .option-group .option:first-child {
	margin-left: 0 !important;
}

#options .option-group {
	display: flex;
	flex-direction: row;
}

#alert-box {
	z-index: 10;
	width: max-content;
	height: max-content;
	padding: 50px;
	font-family: "Inter", sans-serif;
	position: fixed;
	background: #000;
	color: #fff;
	font-size: 60px;
	font-weight: 900;
	border-radius: 5px;
	cursor: default;
	box-shadow: 0px 0px 100px #000;
	transform: scale(0);
	transition: transform 0.3s;
}

#curtain {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.39);
	position: fixed;
	opacity: 0;
	z-index: -5;
	transition: opacity 0.2s;
}

#sub-container {
	opacity: 1;
	animation: subCont 1s ease-out;
}

@keyframes subCont {
	0% {
		opacity: 0;
		pointer-events: none;
	}

	90% {
		opacity: 0;
		pointer-events: none;
	}

	100% {
		opacity: 1;
		pointer-events: all;
	}
}

#score-text {
	width: 100%;
	height: min-content;
	text-align: center;
	margin-bottom: 15px;
}

#score-text,
#score {
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 25px;
}
